<h2>Business Details</h2>

<% if @business %>
	<% if current_user && @business.own_business?(current_user.id) %>
		<%= link_to("Add Photo", new_profile_business_photo_path(:profile_id => @business.id)) %>
	<% end %>
	
<div id="biz_photos">
  <% for business_photo in @business.business_photos %>
    <div class="biz_photo">
      <%= image_tag business_photo.image_url(:thumb) if business_photo.image? %>
      <div class="name"><%= business_photo.name %></div>
      <div class="actions">
        <%= link_to "edit", edit_profile_business_photo_path(business_photo) %> |
        <%#= link_to "remove", profile_business_photos, :confirm => 'Are you sure?', :method => :delete %>
      </div>
    </div>
  <% end %>
  <div class="clear"></div>
</div>
	
<div class="twelve columns">
	<h4><%= @business.company_name %></h4>
	<p>Contact Info</p>
	<table>
		<tr>
			<td>Address</td>
			<td><%= "#{@business.address}, #{@business.city}, #{@business.region}" %></td>
		</tr>
		<tr>
			<td>MAP</td>
			<td>MAP</td>
		</tr>
		<tr>
			<td>Phone</td>
			<td><%= @business.office_phone1 %></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><%= @business.user.email %></td>
		</tr>
	</table>
	<br />
	<p>About Us</p>
	<table>
		<tr>
			<td>Products & Services</td>
			<td><%= @business.products_services %></td>
		</tr>
		<tr>
			<td>Business Description</td>
			<td><%= @business.detail %></td>
		</tr>
		<tr>
			<td>Website</td>
			<td>Website</td>
		</tr>
		<tr>
			<td>Photo</td>
			<td>Photo</td>
		</tr>
	</table>
	<%= gmaps4rails(@json) %>
</div>

<% end %>