<!DOCTYPE html>
<html>
<head>
  <title>GrowLokal </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'jquery' %>
  <script type="text/javascript" src="//use.typekit.net/arr1ibi.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= csrf_meta_tags %>
  <%= yield :stylesheets %>
  <%= yield :javascripts %>	
</head>
<body>

	<div class="row">
       <% if notice %>
       <div class='alert-box success'><%= notice %></div>
       <% end %>

       <% if alert %>
       <div class='alert-box alert'><%= alert %></div>
       <% end %>

       <% if flash[:error] %>
       <div class='alert-box error'><%= flash[:notice] %></div>
       <% end %>
     </div>
	 <%= yield %>	
	 <%= yield :scripts %>
</body>
</html>
